.delete-screen-cont{
    display: flex;
    flex-direction: column;
    background-color: azure;
    padding-bottom: 1rem;
    min-height: 100vh;
}

.delete-lbl{
    width: 100%;
    align-self: center;
    background-color: black;
    justify-items: center;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

.delete-lbl p{
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 300;
    text-shadow: 2.5px 2.5px 0px #555555;
    margin: 0;
    color: white;
}

.loading-user-recipe{
    align-self: center;    
}

.loading-user-recipe p{
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 100;
}

.user-recipe{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.recipe-tile{
    width: 17%;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.8rem;
}

.recipe-tile img {
  width: 100%;
  border-radius: 8px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.recipe-tile h3{
    text-align: center;
    letter-spacing: 2px;
    font-weight: 300;
    margin: 0;
    text-transform: capitalize;
}

.selected-lbl{
    margin-top: 0.8rem;
}

.selected-lbl p{
    text-align: center;
    font-weight: 200;
    color: #120A8F;
    letter-spacing: 1.5px;
}


.btn-cont{
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 2rem;
}

.btn-cont button{
    border-radius: 100px;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    color: white;
    background-color: black;
}

.clear-select-btn button:hover{
    background-color: #4ECDC4;
    transform: translateY(-2px);
}

.delete-recipe-btn button:hover{
    background-color: #ED2100;
    transform: translateY(-2px);
}
