.accountdelete-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mintcream;
    text-align: center;
}

.accountdelete-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    justify-content: space-between;
    width: 34%;
    height: 67%;
    padding: 1.5rem;
    gap: 1rem;
}
.accountdelete-content h1 {
    background-color: #666;
    width: 100%;
    margin: 0;
    padding: 0.75rem 0;
    border-radius: 4px;
    font-size: 1.5rem;
}



.delete-buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #333;
    color: white;
    gap: 1rem;
}
.delete-buttons button {
  font-size: 1rem;
  height: 3rem;
  background-color: #666;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  transition: background-color 0.34s;
  align-self: center;
}
.delete-buttons button:hover{
  font-weight: bold;
  background-color: #999;
}