@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Shadows+Into+Light&display=swap');
html, body {
    overflow: hidden;
}

.main-page{
    min-height: 100vh;
}

.first-section-cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: mintcream;
    /* align-items: center; */
}

.main-page-img{
    height: 100vh;
    flex: 1;
    position: relative;
}

.main-page-img img{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    z-index: 2;
}

.page-name-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

#page-name{
    font-family: "Rampart One", sans-serif;
    font-size: 4.5rem;
    color: white;
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0 0 1rem 0;
    z-index: 3;
}

#signin-with-back-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 3;
}

@media (max-width: 1100px) or (max-height: 700px){
    .first-section-cont{
        flex-direction: column;
        background-color: transparent;
        height: 100vh;
    }

    .main-page-img{
        height: 100%;
    }

    .page-name-section{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        justify-content: center;
    }
  
}

@media (max-height: 700px){
    .first-section-cont{
        flex-direction: column;
        background-color: transparent;
        height: 100vh;
    }

    .main-page-img{
        height: 100%;
    }

    .page-name-section{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        justify-content: center;
    }
  
}



