.search-bar {
    background-color: black;
    padding-top: 16px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.search-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 600px;
}
/*this is appearently a thing*/
.search-container:focus-within .tag-panel {
    opacity: 1;
    max-height: 200px;
    overflow-y: auto;
    padding: 8px;
}




.search-bar-main {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: white;
    width: 100%;
    border-radius: 8px;
}

.search-bar-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    background: none;
    padding: 0.5rem 0.75rem;
}

.search-bar-button {
    border: none;
    background: none;
    transition: background-color 0.2s ease;
    padding: 0.5rem 1rem;
}
.search-bar-button:hover {
    background-color: #999;
}
.search-bar-button img {
    width: 1rem;
    height: 1rem;
    display: block;
}



/*going to define a proper colour pallet instead of these later*/
.tag-panel {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #666;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.25s ease;
}
.tag-panel button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
    white-space: nowrap;
}
.tag-panel button:hover {
    background-color: #999;
}
.tag-panel::-webkit-scrollbar {
    width: 8px;
}
.tag-panel::-webkit-scrollbar-thumb {
    background: #666;
}
.tag-panel::-webkit-scrollbar-track {
    background: #333;
}