.recipe-viewer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: mintcream;
    height: 100vh;
    overflow-y: auto;
}

.recipe-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.recipe-content h1 {
    font-weight: bold;
    text-align: center;
    width:100%;
    border-radius: 8px;
    padding: 0.25rem;
    color: white;
    text-shadow: 0 0.125rem black;
    background-color: #333;
}



.recipe-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    background-color: #333;
    border-radius: 8px;
    position: relative;
}
.recipe-image img {
    width: 98%;
    height: 98%;
    border-radius: 8px;
    object-fit: cover;
}
.recipe-image button {
    border: none;
    background-color: #333;
    color: mintcream;
    padding: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}
.recipe-image button:hover {
    background-color: #555;
}




.recipe-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.recipe-text-toolbar {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    background-color: #333;
    padding: 0.25rem;
    gap: 0.25rem;
}
.recipe-text-toolbar button {
    width: 2rem;
    height: 2rem;
    border: 8px;
    background-color: #666;
    padding: 0.5rem;
    border-radius: 8px;
    color: mintcream;
    transition: background-color 0.2s ease;
    align-content: center;
}
.recipe-text-toolbar button:hover {
    background-color: mintcream;
    color: black;
}

.recipe-text-textarea {
    width: 98%;
    min-height: 15rem;
    margin-bottom: 0.25rem;
    resize: none;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: black;
    outline: none;
    box-sizing: border-box;
    padding: 8px;
    overflow-y: auto;
}




.recipe-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.recipe-card-contents{
    width: 98%;
    background-color: white;
    border: none;
    border-radius: 8px;
    min-height: 15rem;
    margin: 0.25rem;
}
.recipe-card-contents button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.recipe-card-contents button:hover {
    background-color: #555;
}

.time-fields {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1.5% 0;
}

.time-fields label {
    font-size: 1.3rem;
    font-weight: 500;
}

.time-fields input {
    width: 50px;
    text-align: center;
    font-size: 1.4rem;
}

.prep-time,
.cook-time {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}