.dashboard {
    position: fixed;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: unset;
    overflow: hidden;
}

.dashboard-main-region {
    display: grid;
    grid-template-columns: 26fr 1fr;
}

.dashboard-side-region {
    display: grid;
    grid-template-rows: auto 1fr;
}