.not-found-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mintcream;
    text-align: center;
}

.not-found-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    width: 34%;
    height: 67%;
    padding: 1.5rem;
    gap: 1rem;
}
.not-found-content h1 {
    background-color: #666;
    width: 100%;
    margin: 0;
    padding: 0.75rem 0;
    border-radius: 4px;
    font-size: 1.5rem;
}
.not-found-content p {
    background-color: #999;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1.5rem 0;
    border-radius: 4px;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}