@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

.signin-pane{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 400px;
    padding: 2rem;
    margin: 0 auto;
    box-shadow: 20px 25px 40px 5px;
    gap: 1rem;
    background-color: white;
}

.google-cont{
    display: flex;
    flex-direction: column;
    margin:0;
    gap: 1.2rem;
}

#google-lbl{
    font-size: 0.95rem;
}


#google-btn{
    scale: 0.70;
}

#google-btn:hover{
    cursor: pointer;
}

p{
    color: black;
    font-family: "Rowdies", serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-shadow: 2px 4px 2px lightgray;
}

#simp-cont{
    margin: 5% 0 0 0;
}

#simp-lbl{
    font-family: "Caprasimo", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    text-shadow: 2px 4px 2px lightgray;
    letter-spacing: 6px;
}

#welcome{
    font-size: 3.7rem;
    text-shadow: 2px 5px 2px lightgray;
    margin: 0;
    font-family: "Caprasimo", sans-serif;
    letter-spacing: 4px;
    text-decoration: underline;
}

@media (max-width: 900px) {
    .signin-pane{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 400px;
    padding: 2rem;
    margin: 0 auto;
    box-shadow: 0 0 0 0;
    gap: 2rem;
    background-color: white;
}

  }