.settings-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mintcream;
  text-align: center;
}

.settings-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  color: white;
  border-radius: 8px;
  border: 1px solid black;
  width: 34%;
  height: 67%;
  padding: 1.5rem;
  gap: 2rem;
}
.settings-content h1 {
  background-color: #666;
  width: 100%;
  margin: 0;
  padding: 0.75rem 0;
  border-radius: 4px;
  font-size: 1.5rem;
}
.settings-content button {
  font-size: 1rem;
  height: 3rem;
  background-color: #666;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  transition: background-color 0.34s;
  align-self: center;
}
.settings-content button:hover{
  font-weight: bold;
  background-color: #999;
}





.unit-toggles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin-top: 1rem;
  flex-grow: 1;
}

.toggle-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 70%;
}

.toggle-row p {
  margin: 0;
  font-size: 1rem;
  width: 130px;
  text-align: right;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 64px;
  min-width: 64px;
  height: 32px;
  flex-shrink: 0;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: #666;
  border-radius: 8px;
  transition: background-color 0.34s;
  overflow: hidden;
}
.slider::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 4px;
  top: 4px;
  background-color: white;
  border-radius: 8px;
  transition: transform 0.34s ease;
}

.toggle input:checked + .slider {
  background-color: #999;
}
.toggle input:checked + .slider::before {
  transform: translateX(32px);
}