.ingredients-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.def_ing{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ing-lbl-cont label{
    font-size: 2rem;
}