.ingredients-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8% 0;
}
.def_ing{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ing-lbl-cont label{
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: underline;
}

.new-ing-row{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}

.ing-qty input{
    font-size: 1.3rem;
    width: 60px;
    text-align: center;
    font-weight: lighter;
}

.ing-units select{
    font-size: 1.4rem;
    width: 125px;
    text-align: center;
    font-weight: lighter;
}

.ing-name input{
    font-size: 1.3rem;
    width: 200px;
    text-align: center;
}

.ingredients-form button{
    width: 2rem;
    height: 2rem;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 0.5rem;
    background-color: #333;
    color: white;
    border: 1px solid black;
    text-align: center;
}

.ingredients-form button:hover{
    cursor: pointer;
}

.add-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: #333;
}

.delete-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: #333;
}