.instructions-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.def_ins{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    align-self: center;
}

.instructions-lbl-cont{
    margin-bottom: 3%;
}

.instructions-lbl-cont label{
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: underline;
}

.instructions-form button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    margin-top: 5%;
    color: white;
    background-color: #6495ED;
    border: 3px solid black;
}

.instructions-form button:hover{
    cursor: pointer;
}

textarea{
    width: 500px;
    height: 100px
}