.instructions-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-ins{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.def_ins{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    align-self: center;
}

.instructions-lbl-cont{
    margin-bottom: 3%;
}

.instructions-lbl-cont label{
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: underline;
}

.instructions-form button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 2rem;
    margin-top: 5%;
    color: white;
    background-color: #6495ED;
    border: 3px solid black;
}

.instructions-form button:hover{
    cursor: pointer;
}

.new-ins button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: white;
    background-color: red;
}

textarea{
    width: 450px;
    height: 60px;
    font-size: 1.3rem;
}

.ins-block{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}