.instructions-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.def_ins{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    align-self: center;
}