
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0FFF0;
    width: fit-content;
    padding: 0 2rem 2rem 2rem;
    border: 3px solid black;
    overflow-y: auto;
}


#form-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-title p{
    font-size: 1.2rem;
}

.recipe-title-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 6% 0;
}

.recipe-title-section label{
    font-size: 2rem;
    font-weight: bold;
}

.recipe-title-section input{
    font-size: 2rem;
    font-style: italic;
    width: 500px;
    text-align: center;
    font-weight: lighter;
}

.recipe-img-cont{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid black;
    margin-bottom: 3%;
}

.recipe-img-cont img{
    width: 100%;
    height: 100%;
}

.recipe-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choose-file-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 15%;
    width: 100%;
}

.time-fields{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1.5% 0;
}

.time-fields label{
    font-size: 1.5rem;
    font-weight: 500;
}

.time-fields input{
    width: 50px;
    text-align: center;
    font-size: 1.4rem;
}

.prep-time, .cook-time{
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}