form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-title-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.recipe-img-cont{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

.recipe-img-cont img{
    width: 100%;
    height: 100%;
}

.recipe-image{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
}

img.def-img{
    scale: 70%;
    border-radius: 50%;
}

.time-fields{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-items: center;
    gap: 2rem;
}

.prep-time, .cook-time{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}